<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
        <!-- Enable default document -->
        <defaultDocument enabled="true" />

        <!-- Security Settings -->
        <security>
            <ipSecurity allowUnlisted="true">
            </ipSecurity>
        </security>

        <!-- MIME Types -->
        <staticContent>
            <mimeMap fileExtension=".webp" mimeType="image/webp" />
        </staticContent>
	</system.webServer>
</configuration>
